@model Gses.Services.Subscription.Model.BtcToUahRateMailTemplateModel

@{
    Layout = "_MailLayout.cshtml";
}

<style type="text/css">
    .description {
        font-size: 18px;
        font-family: tahoma, verdana, segoe, sans-serif;
        line-height: 27px;
        color: #666666;
    }
</style>

<p class="description" style="font-size: 18px;font-family: tahoma, verdana, segoe, sans-serif;line-height: 27px;color: #666666;">
    Вітаємо!<br />
    Станом на <strong>@Model.Date</strong> обмінний курс <strong>BTC до UAH</strong> становить <strong><span style="color: #FF8C00;">@Model.Rate</span></strong>
</p>